<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">

  <div>
    <label for="account">
      Account
    </label>
    <br>
    <input id="account" type="text" formControlName="account">
  </div>

  <div>
    <label for="account">
      Password
    </label>
    <br>
    <input id="password" type="password" formControlName="password">
  </div>

  <button class="button" type="submit">Confirm</button>

  <select class="form-control">
    <option value="4444">4444</option>
    <option value="Fedex">Fedex</option>
    <option value="Elite">Elite</option>
    <option value="Interp">Interp</option>
    <option value="Test">Test</option>
  </select>


</form>
