h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  height: 125px;
  overflow-y: scroll;
}


