.students {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.students li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 2em;
  border-radius: 4px;
}
.students li:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}
.students li.selected {
  background-color: dimgray;
  color: white;
}
.students li.selected:hover {
  background-color: darkgray;
  color: white;
}
.students li.selected:active {
  background-color: dimgray;
  color: white;
}
.students .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.9em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 2.4em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

input {
  padding: .5rem;
}

h2 {
  font-family:"Times New Roman", Times, serif;
  font-size: 2rem;
}
