<br>
<app-calendar-header [(view)]="view" [(viewDate)]="viewDate">
</app-calendar-header>

<div class="alert alert-info">
  Click on a day or time slot on the view.
  <strong *ngIf="clickedDate"
  >You clicked on this time: {{ clickedDate | date:'medium' }}</strong
  >
  <strong *ngIf="clickedColumn !== undefined"
  >You clicked on this column: {{ clickedColumn }}</strong
  >
</div>

<div [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (columnHeaderClicked)="clickedColumn = $event.isoDayNumber"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (dayHeaderClicked)="clickedDate = $event.day.date"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
    (hourSegmentClicked)="clickedDate = $event.date"
  >
  </mwl-calendar-day-view>
</div>
<br>
<h3>
  Edit classes
  <button class="btn btn-info float-right" (click)="saveEvent()" [hidden]="!authenticated()">
    Save events
  </button>
  <button class="btn btn-primary float-right mr-2" (click)="addEvent()" [hidden]="!authenticated()">
    Add new
  </button>

  <div class="clearfix"></div>
</h3>
<ul *ngIf="this.name == ''">
    <p class="form-control">Name list:</p>
    <li *ngFor="let student of students$ | async" >
      <div class="form-control" >
        {{student.name}}
      </div>
    </li>

</ul>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Color</th>
      <th>Starts at</th>
      <th>Ends at</th>
      <th [hidden]="!authenticated()">Remove</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let event of events">
      <td>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="{{event.id}}"
            [(ngModel)]="event.id"
            (keyup)="refresh.next(); event.modified = true"
            #searchBox
            (input)="search(searchBox.value)"
            placeholder="name"
            (blur) = "deleteSearch()"
            [disabled] = disableInput()
          />
        </div>

      </td>

      <td>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="event.title"
          (keyup)="refresh.next(); event.modified = true"
          #Title
        />
      </td>
      <td>
        <input
          type="color"
          [(ngModel)]="event.color!.primary"
          [(ngModel)]="event.color!.secondary"
          (change)="refresh.next(); event.modified = true"
          #Color
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.start"
          (ngModelChange)="refresh.next(); event.modified = true"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          #Start
        />
      </td>
      <td>
        <input
          class="form-control"
          type="text"
          mwlFlatpickr
          [(ngModel)]="event.end"
          (ngModelChange)="refresh.next(); event.modified = true"
          [altInput]="true"
          [convertModelValue]="true"
          [enableTime]="true"
          dateFormat="Y-m-dTH:i"
          altFormat="F j, Y H:i"
          placeholder="Not set"
          #End
        />
      </td>
      <td [hidden]="!authenticated()">
        <button class="btn btn-danger" (click)="handleDelete(event); ">
          Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<!-- popup window for modify event -->
<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Editing event</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div style="margin-left: 1.5rem; margin-right: 1.5rem">
    <p type="text">带星号的为必填项</p>
    <div >
      <label for="Name">Name: </label>
      <input type="text" class="form-control" id="Name" [disabled] = disableInput()
             [(ngModel)]="modalData!.event.id"
             (change)="refresh.next(); modalData!.event.modified = true">
    </div>
    <div class="form-group">
      <label for="Title">Title: </label>
      <input type="text" class="form-control" id="Title"
             [(ngModel)]="modalData!.event.title"
             (change)="refresh.next(); modalData!.event.modified = true">
    </div>
    <label>Start: </label>
    <input
      class="form-control"
      type="text"
      mwlFlatpickr
      [(ngModel)]="modalData!.event.start"
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      (ngModelChange)="refresh.next(); modalData!.event.modified = true"
      dateFormat="Y-m-dTH:i"
      altFormat="F j, Y H:i"
      placeholder="Not set"
      #Start
    />
    <label>End: </label>
    <input
      class="form-control"
      type="text"
      mwlFlatpickr
      [(ngModel)]="modalData!.event.end"
      [altInput]="true"
      [convertModelValue]="true"
      [enableTime]="true"
      (ngModelChange)="refresh.next(); modalData!.event.modified = true"
      dateFormat="Y-m-dTH:i"
      altFormat="F j, Y H:i"
      placeholder="Not set"
      #End
    />

    <div class="form-group">
      <label for="Description">Description: </label>
      <input type="text" class="form-control" id="Description"
             [(ngModel)]="modalData!.event.description"
             (change)="refresh.next(); modalData!.event.modified = true">
    </div>
    <div class="form-group">
      <label for="Homework">Homework: </label>
      <input type="text" class="form-control" id="Homework"
             [(ngModel)]="modalData!.event.homework"
             (change)="refresh.next(); modalData!.event.modified = true">
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>Class Finished: <input type="checkbox"
                                      [(ngModel)]="modalData!.event.finished"
                                      (change)="refresh.next(); modalData!.event.modified = true">
        </label>
      </div>
    </div>
      <!-- (click) passes input value to add() and then clears the input -->
      <button class="btn btn-danger"
              (click)="modify(modalData!.event); modalData!.event.modified = false ;close()"
              [hidden]="!authenticated()">
        Confirm Change
      </button>

  </div>


  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event | json }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>


<ng-template #modalContent1 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Confirm delete</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p type="text">Are you sure you want to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary"
            (click)="delete(event); deleteEvent(event); close()"
            [hidden]="!authenticated()">
      YES
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      NO
    </button>
  </div>
</ng-template>
