<br>
<div *ngIf="student">

  <h2>{{student.name}} Details</h2>
  <div><p class="text">name: {{student.name}}</p></div>
  <div><p class="text">class balance: {{student.payment / student.paymentPerClass}}</p></div>

  <button (click)="expand()">Expand</button>

  <div *ngIf="showExpansion">
    <div><p class="text">id: {{student.id}}</p></div>
    <div><p class="text">grade: {{student.grade}}</p></div>
    <div><p class="text">payment: {{student.payment}}</p></div>
    <div><p class="text">paymentPerClass: {{student.paymentPerClass}}</p></div>
    <div *ngFor="let classDetails of student.classDetail">
      <p class="text">class time: {{classDetails.start}}</p>
    </div>
  </div>

  <button (click)="modify()">Modify</button>

  <div *ngIf="showModifyCom">
    <label for="student-name">student name: </label>
    <br>
    <input id="student-name" [(ngModel)]="student.name" placeholder="name" #Name>

    <br>
    <label for="student-grade">student grade: </label>
    <br>
    <input id="student-grade" [(ngModel)]="student.grade" placeholder="grade" #Grade>

    <br>
    <label for="student-date">student date: </label>
    <br>
    <input id="student-date" [(ngModel)]="student.date" placeholder="date" #Date>

    <br>
    <label for="student-payment">student payment: </label>
    <br>
    <input id="student-payment" [(ngModel)]="student.payment" placeholder="payment" #Payment>

    <br>
    <label for="student-paymentPerClass">student paymentPerClass: </label>
    <br>
    <input id="student-paymentPerClass" [(ngModel)]="student.paymentPerClass" placeholder="paymentPerClass" #PaymentPerClass>
    <br>
    // edit student id only if you are administrator
    <br>
    <label for="student-id">student id: </label>
    <br>
    <input id="student-id" [(ngModel)]="student.id" placeholder="id">
    <br>
    <button (click)="save(Name.value, Grade.value, Payment.value, PaymentPerClass.value, Date.value)">save change</button>
    <button (click)="delete(); goBack()">delete student</button>
  </div>
  <button (click)="calendar()">Calendar</button>

  <button (click)="goBack()">go back</button>

  <div *ngIf="showCalendar">
      <calendar-component [events]="event"></calendar-component>
  </div>



</div>
