/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
button {
  margin-top: 20px;
  background-color: #eee;
  padding: 0.5rem;
  margin-right: 5px;
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.text {
  font-family:"Times New Roman", Times, serif;
  font-size: 1.3rem;
}

h2 {
  font-family:"Times New Roman", Times, serif;
  font-size: 2rem;
}
