<br>
<div *ngIf="student">

  <h2 class="text-capitalize">{{student.name}}</h2>
  <div><p class="text">class balance: {{student.payment / student.paymentPerClass}}</p></div>

  <button class="btn btn-outline-secondary" (click)="expand()">More Info</button>
  <button class="btn btn-outline-secondary" (click)="modify()">Modify</button>
  <button class="btn btn-outline-secondary" (click)="calendar()">Calendar</button>
  <button class="btn btn-outline-secondary" (click)="goBack()">Back</button>


  <div *ngIf="showExpansion">
    <table class="table table-light">
      <thead class="thead-light">
      <tr>
        <th scope="row">#</th>
        <td>Id:</td>
        <td>{{student.id}}</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Grade:</td>
        <td>{{student.grade}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Payment:</td>
        <td>{{student.payment}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>PaymentPerClass:</td>
        <td>{{student.paymentPerClass}}</td>
      </tr>
      </tbody>
    </table>

    <div *ngFor="let classDetails of student.classDetail">
      <p class="text">class time: {{classDetails.start}}</p>
    </div>
  </div>

  <div *ngIf="showModifyCom">
    <label for="student-name">student name: </label>
    <br>
    <input id="student-name" [(ngModel)]="student.name" placeholder="name" #Name>

    <br>
    <label for="student-grade">student grade: </label>
    <br>
    <input id="student-grade" [(ngModel)]="student.grade" placeholder="grade" #Grade>


    <br>
    <label for="student-payment">student payment: </label>
    <br>
    <input id="student-payment" [(ngModel)]="student.payment" placeholder="payment" #Payment>

    <br>
    <label for="student-paymentPerClass">student paymentPerClass: </label>
    <br>
    <input id="student-paymentPerClass" [(ngModel)]="student.paymentPerClass" placeholder="paymentPerClass" #PaymentPerClass>
    <br>
    // edit student id only if you are administrator
    <br>
    <label for="student-id">student id: </label>
    <br>
    <input id="student-id" [(ngModel)]="student.id" placeholder="id">
    <br>
    <button type="button" class="btn btn-danger  mr-1 mt-2"
            (click)="save(Name.value, Grade.value, Payment.value, PaymentPerClass.value)">save change</button>
    <button type="button" class="btn btn-danger mt-2" (click)="handleDeleteStudent();">delete student</button>
  </div>


  <div *ngIf="showCalendar">
      <calendar-component [events]="events" [name]="student.name" [id]="id"></calendar-component>
  </div>
</div>
<ng-template #modalContent1 let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Confirm delete</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p type="text">Are you sure you want to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="delete(); close(); goBack();">
      YES
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      NO
    </button>
  </div>
</ng-template>

<ng-template #modalContentEvent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Confirm delete</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p type="text">Are you sure you want to delete this?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="deleteEvent(event); close()">
      YES
    </button>
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      NO
    </button>
  </div>
</ng-template>

