/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}
.text {
  font-family:"Times New Roman", Times, serif;
  font-size: 1.3rem;
}

h2 {
  font-family:"Times New Roman", Times, serif;
  font-size: 2rem;
}
